apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: autoscaler-db
  namespace: autoscaler-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
