apiVersion: v1
kind: Service
metadata:
  name: {{ include "smart-autoscaler.fullname" . }}
  labels:
    {{- include "smart-autoscaler.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: {{ .Values.service.dashboardPort }}
      targetPort: dashboard
      protocol: TCP
      name: dashboard
  selector:
    {{- include "smart-autoscaler.selectorLabels" . | nindent 4 }}
